<?xml version="1.0"?>
<ruleset name="Pragmatic PHP Standards">
	<description>Apply Pragmatic PHP standards.</description>

	<arg name="basepath" value="./" />
	<arg name="extensions" value="php" />
	<arg name="parallel" value="20" />
	<arg value="ps" />

	<ini name="memory_limit" value="256M" />

	<!-- Use HM Coding Standards as our base. -->
	<rule ref="HM">
		<!-- This is too opinionated. -->
		<exclude name="HM.Files.FunctionFileName" />
		<exclude name="PSR2R.Namespaces.UseInAlphabeticalOrder" />

		<!-- We run this seperately in phpcompat.xml.dist. -->
		<exclude name="PHPCompatibilityWP" />

		<!--
		These are slightly too opinionated to be defaults, but are recommended.
		-->
		<exclude name="HM.Files.NamespaceDirectoryName" />

		<!-- We use composer's autoload system so we can't met this requirements  -->
		<exclude name="WordPress.Files.FileName.NotHyphenatedLowercase" />
		<exclude name="WordPress.Files.FileName.InvalidClassFileName" />
		<exclude name="HM.Files.ClassFileName.MismatchedName" />
	</rule>

	<!-- Ensure textdomain consistency. -->
	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array" value="pragmatic-drupal7-importer" />
		</properties>
	</rule>

	<!-- Tests folder. -->
	<exclude-pattern>/tests/bootstrap\.php</exclude-pattern>
	<exclude-pattern>/tests/wp-tests-config\.php</exclude-pattern>

	<exclude-pattern>/vendor/*</exclude-pattern>
	<exclude-pattern>/wp-content/plugins/hm-content-import</exclude-pattern>
</ruleset>
