<?xml version="1.0"?>
<ruleset name="Pragmatic Drupal 7 Importer PHP Standards">
	<description>PHP standards for the Pragmatic Drupal 7 Importer plugin.</description>

	<arg name="basepath" value="./" />
	<arg name="extensions" value="php" />
	<arg name="parallel" value="20" />
	<arg value="ps" />

	<ini name="memory_limit" value="256M" />

	<!-- Use Pragmatic Coding Standards as our base. -->
	<rule ref="Pragmatic" />

	<!-- Ensure textdomain consistency. -->
	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array" value="pragmatic-drupal7-importer" />
		</properties>
	</rule>

	<!-- Tests folder. -->
	<exclude-pattern>/tests/bootstrap\.php</exclude-pattern>
	<exclude-pattern>/tests/wp-tests-config\.php</exclude-pattern>

	<exclude-pattern>/vendor/*</exclude-pattern>
	<exclude-pattern>/wp-content/*</exclude-pattern>
</ruleset>
