<?xml version="1.0"?>
<phpunit
	backupGlobals="false"
	bootstrap="tests/bootstrap.php"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="Content Entity Fields">
			<directory prefix="class-test-" suffix=".php">./tests/</directory>
		</testsuite>
	</testsuites>
</phpunit>
