<?xml version="1.0"?>
<phpunit
	backupGlobals="false"
	bootstrap="tests/bootstrap.php"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<php>
		<env name="WP_PHPUNIT__TESTS_CONFIG" value=".tests/wp-tests-config.php" />
	</php>
	<testsuites>
		<testsuite name="Pragmatic Drupal 7 Importer">
			<directory prefix="class-test-" suffix=".php">/tests/</directory>
		</testsuite>
	</testsuites>
</phpunit>
